@import "./global/variable";
@import "~bootstrap/scss/bootstrap";

@import "../components/";
@import "../pages/";
@import "../App.scss";
#root {
  background: linear-gradient(to left, #fff 0%, #d5f7f9);
  min-height: 100vh;
}

@media print {
  html, body, embed {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    padding: 0 !important;
    margin: 0 !important;
    height: 440px !important;
    font-weight: 700;
    top: 0 !important;
    *{
      max-width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      top: 0 !important;
      page-break-before: none;
      font-size: 16px !important;
      font-weight: 700;

    }
  }
}


@page {
  top: 0 !important;
  margin: 20px !important;
}

*{
  line-height: 1.5 !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.nev-icon-container {
  width: 30px !important;
}